alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='ls -l'
alias rm='rm -v'
alias ip='ip --color=auto'
alias sctl='sudo systemctl'
alias setwall='$HOME/scripts/wallp.sh '
alias penv='source $HOME/pyenv/bin/activate'
alias y='yazi'
alias mpdf='mupdf -r 96'
alias fetch='fastfetch -l ~/.config/ascii.txt'
alias rmk='sudo make clean install'
alias v='vim'
alias c='clear'
alias dv='cd $HOME/Suckless/dwm && vim config.def.h && cd $HOME'
alias sv='cd $HOME/Suckless/st && vim config.def.h && cd $HOME'
alias q='exit'
