alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='ls -l'
alias rm='rm -v'
alias ip='ip --color=auto'
alias y='yazi'
alias rmk='rm config.h && sudo make clean install'
alias c='clear'
alias q='exit'
alias ff='fastfetch --file $HOME/.config/fastfetch/wd2_ascii.txt'

#-------- Work related alias ---------#
alias za='zathura '
