alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias la='ls -al'
alias ll='ls -l'
alias rm='rm -v'
alias ip='ip --color=auto'
alias sctl='sudo systemctl'
alias setwall='$HOME/scripts/wallp.sh '
alias y='yazi'
alias fetch='fastfetch -l ~/.config/ascii.txt'
alias rmk='rm config.h && sudo make clean install'
alias nv='nvim'
alias c='clear'
alias q='exit'
alias pkin='yay -S --noconfirm '
alias pkup='yay -Syyu --noconfirm '
alias pkrm='yay -Rns --noconfirm '
alias pkss='yay -Ss '
alias pkqq='yay -Q '

#-------- Work related alias ---------#

alias cps='cd $HOME/Uni/capstone'
alias nc='nvim $HOME/.config/nvim'
