chromium/
Code/
dconf/
discord/
Electron/
google-chrome/
font-config/
flameshot/
go/
htop/
KDE/
kde.org/
kdedefaults/
libaccounts-glib/
libreoffice/
plasma-workspace/
session/
Thunar/
xfce4/
tlpui/
xsettingsd/
yay/
baloofilerc
bluedevilglobalrc
discoverrc
obsidian/
wireshark/
coc/
parcellite/
gh/
alacritty/themes/
